.inputs-demo__body {
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
}

.inputs-demo__container {
    max-width: 1920px;
    padding-left: 40px;
    padding-right: 40px;
}

.inputs-demo__form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin: 40px 0;

}

.inputs-demo__heading {
    margin: 0;
    font-size: 1.875rem;
    margin-bottom: 6px;
    background-color: #7b2cbf;
    color: #fff;
    padding: 20px 40px;
}
